<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="fields">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" #emailField="ngModel" email required>
            <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="alert">
                <div *ngIf="emailField.errors?.['required']">Email is required.</div>
                <div *ngIf="emailField.errors?.['email']">Must be a Valid Email.</div>
            </div>
        </div>
        <div class="fields">
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" #passwordField="ngModel" required>
            <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)" class="alert">
                <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
            </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </form>
</div>